---
layout: page
title: Portfolio
---
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">

      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{% for portfolio in item.portfolio-type %}{% if forloop.first == true %}{% else %},{% endif %}&quot;{{ portfolio.type }}&quot;{% endfor %}]">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block" style="object-fit: scale-down; width: 300px; height : 300px">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="{{ item.url }}" target="_blank">view project</a>
            </div>
          </div>
        </div>
        <h4 style="text-align: center;"> {{ item.name }} </h4>

      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->