---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Joey Lim";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Joey Lim</h1>
    <span class="badge">Software Engineer</span>
    <h2>About</h2>
    <p>
        Hello! I'm Joey, a Computer Science undergraduate studying in Nanyang Technological University, Singapore. 
        I like to explore stuff in my free time and write about my discoveries in this blog... or maybe this blog is just an archive
        of my incomplete projects.
    </p>

    <p>
        I'm always open to talking about anything technology related, just drop me a text on LinkedIn!
    </p>

    <h2>Interests</h2>
    <p>
        During summer and winter seasons, you can spot a wild Joey in her natural habitat: either gaming in front of a bright screen 
        or hopping between cozy cafes. Approach with curiosity and tea.
    </p>
    <p>
        During spring and autumn... you'll often find her retreating to her cave as she navigates the complexities of algorithms and math.
    </p>
</Layout>

